@import "tailwindcss";
/* Ensure video doesn't cause horizontal scroll */
/* video {
  max-width: 100%;
} */

/* Mobile optimization */
/* @media (max-width: 768px) {
  .hero-section {
    height: 80vh !important;
  }
  
  .hero-video {
    object-position: center center;
  }
} */